<html>
  <title>Aquarium</title>
<header>
    <h1  style="text-align:center">Bienvenue</h1>    
</header>
<nav style="text-align:center; background-color:LightGray">
    <a href="{{ url_for('accueil') }}">Accueil</a>
    <a href="{{ url_for('information') }}">Informations</a>
    <a href="#">À propos</a>
    <a href="#">Contact</a>
    <a href="{{ url_for('lien') }}">Liens</a>
</nav>


<p>L'aquarium est constitué de plusieurs bassins, Vous trouverez ci-dessous la liste de tous nos bassins</p>
{% for elem in bassin %}
    <p><a href="bassin/{{elem.numbassin}}">Bassin {{elem.numbassin}}</a></p>
{% endfor %}