<html>
  <title>Aquarium</title>
<header>
    <h1  style="text-align:center">Bienvenue</h1>    
</header>
<nav style="text-align:center; background-color:LightGray">
    <a href="{{ url_for('accueil') }}">Accueil</a>
    <a href="{{ url_for('information') }}">Informations</a>
    <a href="#">À propos</a>
    <a href="#">Contact</a>
    <a href="{{ url_for('lien') }}">Liens</a>
</nav>




</br>
</br>

<form style="text-align:center" action="employe"  method="post">
    <div>
        <input type="text" id="user"  name="user">    <!--placeholder="prenom.nom"-->
    </div>
    </br>
    <div >
        <input type="password" id="pass" name="pass" placeholder="Mot de passe">
    </div>
    </br>
    <input type="submit" name="submit" value="Connexion">

</form>

<!--
<p><a href="inscription.html">Inscription</a></p>
-->