<html>
  <title>Aquarium</title>
<header>
    <h1  style="text-align:center">Bienvenue</h1>    
</header>
<nav style="text-align:center; background-color:LightGray">
    <a href="accueil">Accueil</a>
    <a href="informations">Informations</a>
    <a href="#">À propos</a>
    <a href="#">Contact</a>
    <a href="lien">Liens</a>
</nav>


<h2>Informations légales</h2>

<p><a href="#"><b>Données Personnelles</b></a></p>
<p><a href="#"><b>Gestions des cookies</b></a></p>
<p><a href="#"><b>Mentions légales</b></a></p>

<h2>Informations pratiques</h2>

<p><a href="#"><b>Annuaire</b></a></p>
<p><a href="#"><b>Plan d'accès</b></a></p>

<h3><a href="connexion"><b>Intranet des Personnels</b></h3>



</html>